
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

  <section class="intro">
    <h1>Travel Packages</h1>
        <p>We are specialized with International Travels and Tours. Our expertise and experience can save you 100's of dollars. Aside from the savings, you can also save your valuable time in transit or on tours.  You decide your budget and dates, we'll take care of the rest. 

          Mega Travel is committed to excellent service and support for all of its past, present and future customers. 
  </section>
  <section class="product-cards">
    <div class="product-card">
      <img src="images/maldives.png" alt="" />
      <h2><a href="">Maldives Resort</a></h2>
      <p class="original-price">$1800.99</p>
      <p class="current-price">Price you pay <span>$999.99</span></p>
      <p class="saving">Your saving $801</p>
    </div>
 
    <div class="product-card">
      <img src="images/mexico.png" alt="" />
      <h2><a href="">Mexico Resort (All inclusive!)</a></h2>
      <p class="original-price">$2999.99</p>
      <p class="current-price">Price you pay <span>$2199.99</span></p>
      <p class="saving">Your saving $800</p>
    </div>
 
    <div class="product-card">
      <img src="images/newzealand.png" alt="" />
      <h2><a href="">New Zealand Trek</a></h2>
      <p class="original-price">$2499.00</p>
      <p class="current-price">Price you pay <span>$2100.00</span></p>
      <p class="saving">Your saving $399</p>
    </div>
 
    <div class="product-card">
      <img src="images/venice.png" alt="" />
      <h2><a href="">Venice Italy</a></h2>
      <p class="original-price">$4100.00</p>
      <p class="current-price">Price you pay <span>$3699.00</span></p>
      <p class="saving">Your saving $400</p>
    </div>
  </section>

  <footer>
    <p>Copyright Protected. All rights reserved. Sample website for educational purposes only</p><br/>
    <p>MEGA TRAVEL</p>
    <p>mega@travels.com</p>
  </footer>
