@using MegaTravelClient.Models
@model RegistrationResponseModel
@{
    ViewData["Title"] = "Registration Complete";
}

  <section class="intro">
    <h1>Registration Complete</h1>
        <p>Thanks for registering with Mega Travel </p> 
        <p>You can now log into your account <a class="nav-link text-dark" asp-controller="Home" asp-action="Login">here</a></p>

  </section>


  <footer>
    <p>Copyright Protected. All rights reserved. Sample website for educational purposes only</p><br/>
    <p>MEGA TRAVEL</p>
    <p>mega@travels.com</p>
  </footer>
